{% extends 'html/header.html' %}
{% block content %}
{% load static %}
<!-- <style>
      body{
        background-color:black;
      }
  </style>
 -->
<div class="container">
	<div class="row">
	<div class="row-md-5 my-2 mx-2">
	<img src="{% static 'images/about.png' %}">
</div>
	<div class=" card col-md-5 my-2 mx-2">
<h1 class="text-center"> Creative mart</h1>
	<h2 class="text-info">Contact us on</h2>
	<h1><i class="fas fa-envelope"> cmshoping@gmail.com</i></h1>
	<h1><i class="fas fa-phone-square">9010425378</i></h1>
</div>


	<h6 class="text-dark">
		Creative mart offers handcrafted apparel and lifestyle products created by rural artisans from across India. These artisans are gifted with the talent and traditional skills to craft exquisite designs in styles that are unique to their culture and heritage.
	</h6>
	<h6 class="text-dark">

creative mart products offer contemporary designs, all reasonably priced. Proceeds from sales help these artisans help themselves. creative mart understands the rich culture and traditions that these rural communities are steeped in and translates this heritage into products by pairing traditional art with contemporary designs

Creative mart constitutes ladies wear, mens wear, home décor products and toys.Creative mart provides livelihood for rural artisans and weavers.
</h6>
<h6 class="text-dark">

Its vision is recognising and promoting traditional handicraft techniques that are in danger of dying out with increased industrial growth and rapid urbanisation.
creative mart strives to bring the traditions of India with its unique creations and products. It not only helps its artisans become wage earners, but also spreads awareness about the traditional crafts of the region, thus helping preserve a rich part of India’s national cultural heritage.
</h6>
	
</div>
{% endblock %}