{% load static %}
<nav class="navbar navbar-expand-md bg-dark ">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>
  <style type="text/css">
    
    a{
     color:white;
    }
  </style>
  <div class="collapse navbar-collapse" id="collapsibleNavbar" >
    <ul class="navbar-nav">
      {% if not user.is_authenticated %}
      <li class="nav-item">
        <a class="nav-link" href="{% url 'hm' %}">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'at' %}">Aboutus</a>
      </li>
       <li class="dropdown">
  <a type="button" class="nav-link dropdown-toggle" data-toggle="dropdown">Select Category
  </a>

   <ul class="navbar-nav">
  <div class="dropdown-menu">
   
    {% for i in data %}
    <li>
      
       <a href="{% url 'sr' i.id %}" class="dropdown-item">{{i.cname}}</a>
  
     </li>
      {% endfor %}
    </ul>
     </div>
     <form class="form-inline my-2 my-lg-0" action="/search/">
      <input class="form-control mr-sm-2" name="q" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
 
  
    </ul>
      <ul class="navbar-nav ml-auto" style="margin-right:40px"> 
      <li class="nav-item">
        <a class="nav-link" href="#"><i class="fas fa-cart-plus"></i></a>
      </li>
      <li></li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'lgo' %}">Login</a>
      </li> 

    <ul>
    {% elif user.role == 1 %}
    <a class="navbar-brand" href="#">
    <img src="{% static 'images/Screenshot (12).png' %}" alt="Logo" style="width:60px;">
  </a>   
   <li class="nav-item">
        <a class="nav-link navbar-brand" href="{% url 'cstm' %}">Customise</a>
      </li>
      <li class="nav-item">
        <a class="nav-link navbar-brand" href="{% url 'shop' %}">Shop</a>
      </li>
   
    <li class="dropdown">
  <a type="button" class="nav-link dropdown-toggle navbar-brand" data-toggle="dropdown">Select category
  </a>
   <ul class="navbar-nav">
  <div class="dropdown-menu">
   
    {% for i in data %}
    <li>
      
       <a href="{% url 'sr' i.id %}" class="dropdown-item">{{i.cname}}</a>
  
     </li>
      {% endfor %}
    </ul>
     </div>
  </ul>
  <form class="form-inline my-2 my-lg-0" action="/search/">
      <input class="form-control mr-sm-2" name="q" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-dark my-2 my-sm-0" type="submit">Search</button>
    </form>
 
    <ul class="navbar-nav ml-auto" style="margin-right:120px">
      <li class="nav-item">
        <a class="nav-link navbar-brand text-danger" href="{% url 'cartdetails' %}">{{count}}<i class="fas fa-cart-plus text-white"></i></a>
      </li>
      <li class="nav-item">
        <a class="nav-link  navbar-brand" href="{% url 'myorders' %}">Myorders</a>
      </li>
    
    
        <li class="dropdown">
  <a type="button" class="nav-link dropdown-toggle  navbar-brand" data-toggle="dropdown">
    {{user.username}}
  </a>
  <div class="dropdown-menu">
    <a class="dropdown-item" href="{% url 'cg' %}">change password</a>
    <a class="dropdown-item" href="{% url 'prf' %}">profile</a>
    <a class="dropdown-item" href="{% url 'log' %}">logout</a>
  </div>
</li>
</ul>
{% elif user.is_superuser %}
 <li class="nav-item">
<a class="navbar-brand" href="{% url 'shd' %}">Workerdata</a>
</li>
<!-- <li class="nav-item">
<a class="navbar-brand" href="{% url 'perm' %}">UserPermissons</a>
</li>
 --><li class="nav-item">
<a  class ="navbar-brand" href="{% url 'addpro' %}"> AddProduct</a>
</li>
<li class="nav-item">
<a  class ="navbar-brand" href="{% url 'addcat' %}"> AddCategoy</a>
</li>
<li class="nav-item">
<a  class ="navbar-brand" href="{% url 'vieworders' %}">View orders</a>
</li>
  </ul>

    <ul class="navbar-nav ml-auto" style="margin-right:120px">
    
        <li class="dropdown">
  <a type="button" class="nav-link dropdown-toggle" data-toggle="dropdown">
    {{user.username}}
  </a>
  <div class="dropdown-menu">
    <a class="dropdown-item" href="{% url 'cg' %}">change password</a>
    <a class="dropdown-item" href="{% url 'prf' %}">profile</a>
    <a class="dropdown-item" href="{% url 'log' %}">logout</a>
  </div>
</li>
</ul>
{% else %}
<li class="nav-item">
        <a class="nav-link" href="{% url 'hm' %}">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">aboutus</a>
      </li>
      <li class="dropdown">
  <a type="button" class="nav-link dropdown-toggle" data-toggle="dropdown">select category
  </a>
  <form class="form-inline my-2 my-lg-0" action="/search/">
      <input class="form-control mr-sm-2" name="q" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-dark my-2 my-sm-0" type="submit">Search</button>
    </form>
 
   <ul class="navbar-nav">
  <div class="dropdown-menu">
    {% for i in data %}
    <li> 
       <a href="{% url 'sr' i.id %}" class="dropdown-item">{{i.cname}}</a>
     </li>
      {% endfor %}
    </ul>
     </div>
     <ul class="navbar-nav ml-auto" style="margin-right:50px">
      <li class="nav-item">
        <a class="nav-link" href="{% url 'cartdetails' %}">{{count}}<i class="fas fa-cart-plus"></i></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'myorders' %}">Myorders</a>
      </li>
       <li class="nav-item">
        <a class="nav-link" href="{% url 'rr' %}">RequestRole</a>
      </li>  
    </ul>
      <ul class="navbar-nav ml-auto" style="margin-right:120px">    
    <ul>
      <li class="dropdown">
  <a type="button" class="nav-link dropdown-toggle" data-toggle="dropdown">
    {{user.username}}
  </a>
  <div class="dropdown-menu">
    <a class="dropdown-item" href="{% url 'cg' %}">change password</a>
    <a class="dropdown-item" href="{% url 'prf' %}">profile</a>
    <a class="dropdown-item" href="{% url 'log' %}">logout</a>
  </div>
</li>
{% endif %}
   </div>  
</nav>

