{% extends 'html/header.html' %}
{% block content %}
{% load static %}
<div class="container mt-1">
	<div class="row">
		<li class="dropdown">
  <a type="button" class=" dropdown-toggle btn btn-info" data-toggle="dropdown">Select category
  </a>
</li>
   <ul class="navbar-nav">
  <div class="dropdown-menu">
   
    {% for i in data %}
    <li>
      
       <a href="{% url 'sr' i.id %}" class="dropdown-item">{{i.cname}}</a>
  
     </li>
      {% endfor %}
    </ul>
     </div>
  </ul>
</li>
</div>
	<div class="row">

			{% for j in shp %}
			<div class="card col-md-3 mb-3 mx-auto">
		<img class="card-img-fluid zoom" src="{{j.im.url}}" style="height:350px;width:100%">
		<h5 class="text-center" style="font-size: 15px">{{j.pname}}</h5>
				<p class="card-text text-dark">Price: Rs{{j.price}}<span>
			
		{% if j.quantity != 0 %}
		<form method="POST" action="{% url 'act' j.id %}">
			{% csrf_token %}
			<p class="card-text text-success"> Available
		<input type="submit" name="" value="Addcart" class="mx-3"></span></p></p>
	</form>
			{% else %}
		<form method="POST" action="">
			{% csrf_token %}
			<p class="card-text text-danger">Out of stock</p>

		<input type="submit" name="" value="Addcart" class="btn disabled">
	</form>
	{% endif %}

</div>

		{% endfor %}
		</div>
		</div>                 
</div>
</div>





{% endblock %}